

body {
	font-family: 'Lora', sans-serif;
	width: 80%;
}

td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px
}

h1, h6 {
	font-family: 'Roboto', sans-serif;
}

a {
	color: #1772d0;
	text-decoration: none;
  }
  
  a:focus,
  a:hover {
	color: #f09228;
	text-decoration: none;
  }

papertitle {
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700
  }

  strong {
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	font-size: 14px;
  }